@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: theme(colors.gray.700);
    border-radius: 100vh;
    border: 5px solid theme(colors.gray.900);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme(colors.gray.600);
}