@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 100vh;
    border: 5px solid #111827;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}